{{!-- {{outlet}} --}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Super Rentals</h2>
  <p>
    The Super Rentals Website is a delightful project create to explore Ember.
  </p>
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}

</div>