{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

{{!-- {{outlet}} --}}
<div class = "container">
  <div class="menu">
    {{!-- {{#link-to "index"}} --}}
    <LinkTo @route="index">
      <h1>
        <em>SuperRentals</em>
      </h1>
    </LinkTo>
    {{!-- {{/link-to}} --}}
    <div class="links">
      {{!-- {{#link-to "about" class="menu-about"}} --}}
      <LinkTo @route="about" class="menu-about">
        About
      </LinkTo>
      {{!-- {{/link-to}} --}}
      {{!-- {{#link-to "contact" class="menu-contact"}} --}}
      <LinkTo @route="contact" class="menu-contact">
        Contact
      </LinkTo>
      {{!-- {{/link-to}} --}}
    </div> <!--links-->
  </div> <!--menu-->
  <div class="body">
    {{outlet}}
  </div> <!--body-->
</div><!--container-->